AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: >
    trips-datalake
    Rest API to manage a Data Lake of trips links
Globals:
    Function:
        Timeout: 20
        MemorySize: 512
        Environment:
          Variables:
            TABLE_NAME: !Ref tripsTable
            ENDPOINT_OVERRIDE: ""

Resources:

  CreatetripsRecordFunction:
    Type: AWS::Serverless::Function
    Properties:
     CodeUri: target/trips-datalake-1.0.0-SNAPSHOT-jar-with-dependencies.jar
     Handler: br.com.iwe.handler.CreatetripsRecord::handleRequest
     Runtime: java8
     Policies:
       - DynamoDBCrudPolicy:
           TableName: !Ref tripsTable     
     Events:
       CreatetripsRecord:
         Type: Api
         Properties:
           Path: /trips
           Method: post
           
  GettripsRecordsByPeriodFunction:
    Type: AWS::Serverless::Function
    Properties:
     CodeUri: target/trips-datalake-1.0.0-SNAPSHOT-jar-with-dependencies.jar
     Handler: br.com.iwe.handler.GettripsRecordsByPeriod::handleRequest
     Runtime: java8
     Policies:
       - DynamoDBCrudPolicy:
           TableName: !Ref tripsTable     
     Events:
       GettripsRecordsByPeriod:
         Type: Api
         Properties:
           Path: /trips/{country}/findByPeriod
           Method: get
           RequestParameters:
              - method.request.querystring.starts
              - method.request.querystring.ends
              
  GettripsRecordsByCityFunction:
    Type: AWS::Serverless::Function
    Properties:
     CodeUri: target/trips-datalake-1.0.0-SNAPSHOT-jar-with-dependencies.jar
     Handler: br.com.iwe.handler.GettripsRecordsByCity::handleRequest
     Runtime: java8
     Policies:
       - DynamoDBCrudPolicy:
           TableName: !Ref tripsTable     
     Events:
       GettripsRecordsByCity:
         Type: Api
         Properties:
           Path: /trips/{country}/findByCity
           Method: get
           RequestParameters:
              - method.request.querystring.city

  GettripsRecordsByIsConsumedFunction:
    Type: AWS::Serverless::Function
    Properties:
     CodeUri: target/trips-datalake-1.0.0-SNAPSHOT-jar-with-dependencies.jar
     Handler: br.com.iwe.handler.GettripsRecordsByIsConsumed::handleRequest
     Runtime: java8
     Policies:
       - DynamoDBCrudPolicy:
           TableName: !Ref tripsTable
     Events:
       GettripsRecordsByIsConsumed:
         Type: Api
         Properties:
           Path: /trips/{country}/findByIsConsumed
           Method: get
           RequestParameters:
              - method.request.querystring.isconsumed
              
  tripsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: trips
      AttributeDefinitions:
        - AttributeName: country
          AttributeType: S
        - AttributeName: dateTimeCreation
          AttributeType: S
        - AttributeName: city
          AttributeType: S
        - AttributeName: consumed
          AttributeType: S            
      KeySchema:
        - AttributeName: country
          KeyType: HASH
        - AttributeName: dateTimeCreation
          KeyType: RANGE
      LocalSecondaryIndexes: 
        - IndexName: cityIndex
          KeySchema: 
            - AttributeName: country
              KeyType: HASH
            - AttributeName: city
              KeyType: RANGE
          Projection:
             ProjectionType: ALL 
        - IndexName: consumedIndex
          KeySchema: 
            - AttributeName: country
              KeyType: HASH
            - AttributeName: consumed
              KeyType: RANGE
          Projection:
             ProjectionType: ALL      
      BillingMode: PAY_PER_REQUEST              

Outputs:

    CreatetripsRecordFunction:
      Description: "CreatetripsRecord Lambda Function ARN"
      Value: !GetAtt CreatetripsRecordFunction.Arn
      
    GettripsRecordsByPeriodFunction:
      Description: "GettripsRecordsByPeriod Lambda Function ARN"
      Value: !GetAtt GettripsRecordsByPeriodFunction.Arn
      
    GettripsRecordsByCityFunction:
      Description: "GettripsRecordsByCity Lambda Function ARN"
      Value: !GetAtt GettripsRecordsByCityFunction.Arn
      
    GettripsRecordsByIsConsumedFunction:
      Description: "GettripsRecordsByIsConsumed Lambda Function ARN"
      Value: !GetAtt GettripsRecordsByIsConsumedFunction.Arn      
     
